/* Fuentes (@FONT FACE), Animaciones (@KEYFRAMES)*/

/* 1.Estilos Etiquetas*/
footer{
	position: fixed !important;
	bottom: 0;
	width: 100%;
}
/* 2.Estilos Clases*/

/* 3.Estilos Id*/

/* 4.Responsive Design - Media Queries*/